<% if @prior_percentage %>
  <aside class="prior-vote col-md-3 col-md-pull-8 text-center">
    <h4 class="text-center">Your Last vote!</h4>
    <%= image_tag(@prior_picture.url, id: 'prior-hero') %>
    <%= number_with_precision(@prior_percentage, :precision => 2) %>% Scott!
  </aside>
<% end %>
